<% include header.html %>
<link type="text/css" rel="stylesheet" href="css/index.css"/>
</head>
<body>
<div id="main-content">
	<div id="timeline" class="timeline">
		<a class="timeline-point active" href="#nav_1"></a>
		<a class="timeline-point" href="#nav_2"></a>
		<a class="timeline-point" href="#nav_3"></a>
		<a class="timeline-point" href="#nav_4"></a>
		<a class="timeline-point" href="#nav_5"></a>
	</div>
	<div id="view-holder">
		<section id="todo" class="view">
			<div></div>
			<div class="nextPage_wrap">
				<a href="#" class="nextPage"></a>
			</div>
		</section>
		<section id="second" class="view">
		</section>
		<section id="third" class="view">
		</section>
		<section id="fourth" class="view">
		</section>
		<section id="last" class="view">
		</section>
	</div>
</div>

</body>
</html>
